{{>head}}
{{>navbar}}
<div class="row">
    <div class="col-8">
        <h1>Dragon Ball</h1>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic esse porro ratione nisi consequuntur nemo nam
            asperiores accusantium! Veniam mollitia vero eius sit facilis consequuntur dicta. Beatae aspernatur ex
            minus!</p>
    </div>
    <div class="col-4">
        <img src="assets/img/dragonBall.png" class="img-thumbnail" />
    </div>
</div>
{{>footer}}